@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/pdf01.jpg" alt="Projeto PdfTextReader" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/pdf02.jpg" alt="Introdução" class="img-responsive" />
            <div class="carousel-caption bg-dark" role="option">
                <p>
                    O processamento inicia reconhecendo os blocos de texto
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/pdf03.jpg" alt="Imagens e Tabelas" class="img-responsive" />
            <div class="carousel-caption bg-dark" role="option">
                <p>
                    Imagens e tabelas são identificadas em um processamento paralelo
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/pdf04.jpg" alt="Pipeline" class="img-responsive" />
            <div class="carousel-caption bg-dark" role="option">
                <p>
                    O processamento completo é composto por 30 etapas
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/pdf05.jpg" alt="Título e assinatura" class="img-responsive" />
            <div class="carousel-caption bg-dark" role="option">
                <p>
                    As informações de título e assinatura são extraídas
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/pdf06.jpg" alt="Geração final de XML" class="img-responsive" />
            <div class="carousel-caption bg-dark" role="option">
                <p>
                    O resultado final são artigos extraídos no formato XML
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="row">
            <h3>Seção 1</h3>
            <p>Leis, decretos, resoluções, instruções normativas, portarias e outros atos normativos</p>
            @{
                for (int year = 2017; year >= 2002; year--)
                {
                    <div class="col-sm-1"><a asp-route="Browser_YearTipo" asp-route-year="@year" asp-route-tipo="DO1">@year</a></div>
                }
            }
        </div>
        
        @*<h2>Pesquisa</h2>
        Consulte os documentos disponíveis no site.

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Em Desenvolvimento" />
        </div>

        @{
            foreach (var file in Model.CurrentFiles)
            {
                <p><a asp-route="Document_Show" asp-route-name="@file">@file</a></p>
            }
        }

        <h2>Upload</h2>
        Envie arquivos para processamento. <a asp-page="/Upload">Clique aqui</a>*@
    </div>
    
    <div class="col-md-3 col-md-push-1">
        <h2>Código-Fonte</h2>
        <p>Esse projeto foi escrito em C# e roda em .NET Core nas platafomas Windows e Linux</p>
        <p>Disponível no GitHub: <a href="https://github.com/CSELATAM/PdfTextReader">PdfTextReader</a>
        </p>
    </div>
</div>
