@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Documentos";
    string doc_name = @ViewBag.Name;
}
<h2>Documentos Disponíveis</h2>

<div class="row">
    <h3>Seção 1</h3>
    <p>Leis, decretos, resoluções, instruções normativas, portarias e outros atos normativos</p>
    <div class="col-sm-1"><a href="#">2017</a></div>
    <div class="col-sm-1"><a href="#">2016</a></div>
    <div class="col-sm-1"><a href="#">2015</a></div>
    <div class="col-sm-1"><a href="#">2014</a></div>
    <div class="col-sm-1"><a href="#">2013</a></div>
    <div class="col-sm-1"><a href="#">2012</a></div>
    <div class="col-sm-1"><a href="#">2011</a></div>
    <div class="col-sm-1"><a href="#">2010</a></div>
    <div class="col-sm-1"><a href="#">2009</a></div>
    <div class="col-sm-1"><a href="#">2008</a></div>
    <div class="col-sm-1"><a href="#">2007</a></div>
    <div class="col-sm-1"><a href="#">2006</a></div>
    <div class="col-sm-1"><a href="#">2005</a></div>
    <div class="col-sm-1"><a href="#">2004</a></div>
    <div class="col-sm-1"><a href="#">2003</a></div>
    <div class="col-sm-1"><a href="#">2002</a></div>
</div>

<div class="row">
    <h3>Seção 2</h3>
    <p>Portarias de nomeação, exoneração, aposentadoria e outros atos relativos a servidores da administração</p>
    <div class="col-sm-1"><a href="#">2017</a></div>
</div>

<div class="row">
    <h3>Seção 3</h3>
    <p>Contratos, editais, avisos, balanços de empresas e outros</p>
    <div class="col-sm-1"><a href="#">2017</a></div>
</div>