body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img.pdf {
    transform: scale(0.3);
    transform-origin: left;
}

p.identifica {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

p.subtitulo {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

p.data, p.assina, p.cargo {
    margin-left: 70%;
}