@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "View";
    string doc_name = @ViewBag.Name;
}

<div class="row">
    <h2 class="col-md-12">@doc_name</h2>
</div>

<p><a href="/documents/@doc_name/tree">Download</a></p>

<div class="row">
    <document-output-tree name="@doc_name"></document-output-tree>
</div>

<h3>Logs</h3>
<a href="/documents/@ViewBag.Name/logs/stage0-input">Stage0</a>
<a href="/documents/@ViewBag.Name/logs/stage1-margins">Stage1</a>
<a href="/documents/@ViewBag.Name/logs/stage2-blocksets">Stage2</a>
<a href="/documents/@ViewBag.Name/logs/stage3">Stage3</a>
<a href="/documents/@ViewBag.Name/logs/show-central">ShowCentral</a>
<a href="/documents/@ViewBag.Name/logs/titles">Titles</a>


<form class="show-form" asp-route="Process_Reprocess">
    <div class="row">
        <h2 class="col-md-12">
            <button class="btn right button-reprocess">Reprocess</button>
        </h2>
    </div>
</form>