@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "View";
    string doc_name = @ViewBag.Name;
}

<div class="row">
    <h2 class="col-md-12">@doc_name</h2>
</div>

<p><a href="/documents/@doc_name/tree">Download</a></p>

<div class="row">
    <document-output-tree name="@doc_name"></document-output-tree>
</div>

<h3>Logs</h3>

<div class="row">
    <h4 class="col-sm-1">Blocks</h4>
    <div class="col-sm-1"><a class="btn btn-default" href="/documents/@doc_name/logs/stage0-input">Stage0</a></div>
    <div class="col-sm-1"><a class="btn btn-default" href="/documents/@doc_name/logs/stage1-margins">Stage1</a></div>
    <div class="col-sm-1"><a class="btn btn-default" href="/documents/@doc_name/logs/stage2-blocksets">Stage2</a></div>
    <div class="col-sm-1"><a class="btn btn-primary" href="/documents/@doc_name/logs/stage3">Stage3</a></div>
</div>
<div class="row"><br></div>
<div class="row">
    <h4 class="col-sm-1">Sequential</h4>
    <div class="col-sm-1"><a class="btn btn-default" href="/documents/@doc_name/logs/show-central">Central</a></div>
    <div class="col-sm-1"><a class="btn btn-primary" href="/documents/@doc_name/tree">Summary</a></div>
    <div class="col-sm-1"><a class="btn btn-primary" href="/documents/@doc_name/logs/titles">Titles</a></div>

</div>

<form class="show-form" asp-route="Process_Reprocess">
    <div class="row">
        <h2 class="col-md-12">
            <button class="btn right button-reprocess">Reprocess</button>
        </h2>
    </div>
</form>