@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "View";
    string doc_name = @ViewBag.Name;
}

<form class="show-form" asp-route="Process_Reprocess">
    <div class="row">
        <h2 class="col-md-12">
            <span>@doc_name</span>
            <button class="btn right button-reprocess">Reprocess</button>
        </h2>
    </div>
</form>
<p><a href="/documents/@doc_name/tree">Download</a></p>
<div class="row">
    <document-output-tree name="@doc_name"></document-output-tree>
</div>

<div class="row">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="/Documents/@doc_name/output"></iframe>
    </div>
</div>
